<div class="container p-5">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" (input)="onChangeName($event)" />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{payeeName | titlecase}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onChangeDate($event)" />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
     <div>
      {{date | date}}
     </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input type="number" class="form-control" (input)="onChangeAmount($event)" />
    </div>
    <div class="col">
      <label><b>Payment Amount</b></label>
     <div>
      {{amount | currency:"JPY"}}
     </div>
    </div>
   
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input type="number" class="form-control" (input)="onChangeMiles($event)" />
    </div>
    <div class="col">
      <label><b>Kilometer</b></label>
     <!-- <div *ngIf="(miles | convert:'km') > 10">
      {{miles | convert:'km'}}
     </div> -->
     <div>
      {{miles | convert:'km' | number:'1.0-3'}}
     </div>
    </div>
  </div>

</div>

